{% extends "base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
  <h1>Страница не найдена</h1>
  <h4>К сожалению, запрашиваемая вами страница не найдена.</h4>
  <p>Возможно, это случилось по одной из следующих причин:
    <ul>
        <li>вы ошиблись при наборе адреса страницы (URL);</li>
        <li>вы перешли по «битой» (неработающей, неправильной) ссылке;</li>
        <li>запрашиваемой страницы никогда не было на сайте или она была удалена / перемещена.</li>
    </ul>
    <p>
        Вы можете
        <ul>
            <li>воспользоваться меню сайта для выбора нужного раздела</li>
            <li>воспользоваться
                <a href="#search-query">
                    <label for="search-query" style="display: inline;">поиском по сайту</label>
                </a>
            </li>
            <li>или просто перейдите на <a href="{{ url_for('start_page') }}">главную</a></li>
    </p>
{% endblock %}
